<div class="container">
  <h3><%= @list.name %></h3>

  <% @list.movies.each do |movie| %>
    <p><%= movie.title %></p>
    <p><%= movie.overview %></p>
    <p><%= movie.rating %></p>
    <%= image_tag movie.poster_url, width:300, height:300 %>
  <% end %>
<hr>

<%= link_to "Back", lists_path %>
<%= link_to "Bookmark", new_list_bookmark_path(@list) %>

</div>
